* {
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
.first-block {
    background: url(/img/bg2.jpg) no-repeat;
    background-size: cover;
}
.page-header {
    padding-bottom: 150px;
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 45px;
        display: flex;
        align-items: center;
        color: #fff;
        justify-content: space-between;
    }
}
.header-logo {
    display: flex;
    align-items: center;
    &__img {
        padding-right: 25px;
    }
}
.header-list {
    display: flex;
    &__link {
        color: #fff;
        padding: 0 25px;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}
.first-screen {
    padding-bottom: 150px;
    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }
    &__block {
        max-width: 500px;
        color: #fff;
    }
    &__h1 {
        margin-bottom: 30px;
    }
    &__description {
        margin-bottom: 30px;
    }
}
.free-consultation {
    border-radius: 2px;
    background-color: #fe533d;
    border: none;
    padding: 20px 40px;
    color: #fff;
    font-size: 18px; 
}
.competion {
    display: flex;
}
.icon2 {
    background: #151c32 url(/img/top_icon2.png) no-repeat !important;
    width: 250px !important;
    background-position: center !important;
}
.competion-about {
    display: flex;
    box-shadow: 0 0 39px 1px rgba(0, 0, 0, 0.1);
    &__icon {
        width: 250px;
        background: #151c32 url(/img/top_icon1.png) no-repeat;
        background-position: center;
    }
    &__text1 {
        color: #444444;
        font-size: 15px;
    }
    &__text2 {
        color: #151c32;
        font-size: 24px;
        font-weight: bold;
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
    }
}
.competion-exp {
    box-shadow: 0 0 39px 1px rgba(0, 0, 0, 0.2);
    background-color: #fe533d;
    padding: 54px 100px;
    color: #fff;
    width: 34%;
    &__desc {
    }
    &__text {
        font-size: 20px;
    }
    &__numb {
        font-size: 30px;
    }
}
.about {
    padding: 150px;
    &__container {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    &__text {
        font-size: 20px;
        max-width: 500px;
    }
    &__text2 {
        font-size: 24px;
        font-weight: bold;
        color: #151c32;
        border-top: 5px solid #151c32;
        border-bottom: 5px solid #151c32;
        display: flex;
        flex-basis: 300px;
        h2 {
            margin: auto;
        }
    }
}
.uslugi {
    background-color: #cea05f;
    padding: 100px;
    color: #fff;
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-gap: 15px;
        margin-bottom: 35px;
    }
    &__h2 {
        text-align: center;
        margin-bottom: 25px;
    }
    &__desc {
        max-width: 1100px;
        margin: 0 auto;
        font-size: 20px;
    }
}
.usluga {
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    transition: all 0.2s;
    min-height: 200px;
    display: flex;
    &:hover {
        background-color: #151c32;
        cursor: pointer;
    }
    p {
        font-size: 20px;
        font-weight: bold;
        margin: auto;
    }
}
.price {
    padding: 100px;
    &__container {
        max-width: 1100px;
        margin: 0 auto;
    }
    &__h2 {
        margin-bottom: 25px;
        text-align: center;
    }
    &__line {
        width: 60px;
        height: 2px;
        background-color: #fe533d;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}
.price-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}
.price-item {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    transition: all 0.2s;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    &:nth-of-type(3n+2) {
        border-right: 1px solid #eee;
        border-left: 1px solid #eee;
    }
    &__price {
        margin-bottom: 25px;
        color: #151c32;
        font-size: 18px;
        font-weight: bold;
        &:hover {
            color: #fe533d;
        }
    }
    &__description {
        font-size: 16px;
        font-weight: bold;
    }
}
.call {
    padding: 20px;
    &__container {
        background-color: #cea05f;
        padding: 100px;
        text-align: center;
        font-size: 35px;
        color: #fff;
    }
    &__phone {
        font-weight: bold;
    }
}
.about-us {
    background-color: #151c32;
    padding: 100px;
    color: #fff;
    &__container {
        max-width: 1000px;
        margin: 0 auto;;
    }
    &__block {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__h2 {
        color: #cea05f;
        text-align: center;
        margin-bottom: 50px;
    }
    &__img {
        max-width: 300px;
    }
    &__list {
        padding-top: 15px;
        padding-right: 25px;
    }
    &__item {
        position: relative;
        padding-left: 15px;
        margin-bottom: 15px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 10px;
            height: 25px;
            background: url(/img/list_icon.png) no-repeat;
            background-position: center;
            top: 0;
            left: 0;
        }
    }
}
.page-footer {
    background-color: #151821;
    padding: 50px 0;
    &__container {
        max-width: 900px;
        margin: 0 auto;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.call-now {
    background-color: #fe533d;
    padding: 75px;
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        color: #fff;
        font-size: 25px;
    }
    &__form {
        display: flex;
        input {
            background: rgba(0, 0, 0, 0.15);
            border: none;
            padding: 25px;
            flex: 1;
            flex-basis: 350px;
            color: #fff;
            &::placeholder {
                color: #fff;
                font-size: 18px;    
                font-style: italic;
            }
        }
        button {
            background-color: #151c32;
            color: #fff;
            font-size: 25px;
            border: none;
            padding: 23px 39px;
        }
    }
}
.contacts {
    padding: 100px;
    &__container {
        max-width: 1000px;
        margin: 0 auto;
    }
    &__h2 {
        margin-bottom: 25px;
        text-align: center;
    }
}
.block-adres {
    p {
        margin-bottom: 35px;
        font-size: 20px;
    }
}
.block-map {
    p {
        margin-bottom: 50px;
        font-size: 30px;
    }
}
.contact-form {
    background-color: #cea05f;
    padding: 100px;
    color: #fff;
    &__h2 {
        text-align: center;
        margin-bottom: 25px;
    }
}
.svyaz {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &__h2 {
        text-align: center;
    }
    &__text {
        font-size: 20px;
        margin-bottom: 30px;
    }
    button {
        background-color: #fe533d;
        border-radius: 3px;
        border: none;
        color: #fff;
        font-size: 18px;
        padding: 19px 33px;
    }
    input {
        display: block;
        background: rgba(255, 255, 255, 0.15);
        border: none;
        padding: 22px;
        width: 49%;
        margin-bottom: 30px;
        &::placeholder {
            color: #fff;
            font-size: 18px;
        }
    }
    &__inputs {
        display: flex;
        justify-content: space-between;
    }
    &__textarea {
        display: block;
        border: none;
        background: rgba(255, 255, 255, 0.15);
        padding: 22px;
        margin-bottom: 30px;
        &::placeholder {
            color: #fff;
            font-size: 18px;
        }
    }

}
.otzivi {
    padding: 100px;
    &__container {
        max-width: 1000px;
        margin: 0 auto;
    }
    &__h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    &__text {
        max-width: 800px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
        font-style: italic;
    }
    &__name {
        text-align: center;
        font-weight: bold;
    }
}