* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.first-block {
  background: url(/img/bg2.jpg) no-repeat;
  background-size: cover;
}

.page-header {
  padding-bottom: 150px;
}

.page-header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__img {
  padding-right: 25px;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-list__link {
  color: #fff;
  padding: 0 25px;
}

.header-list__link:hover {
  color: #fff;
  text-decoration: none;
}

.first-screen {
  padding-bottom: 150px;
}

.first-screen__container {
  max-width: 1200px;
  margin: 0 auto;
}

.first-screen__block {
  max-width: 500px;
  color: #fff;
}

.first-screen__h1 {
  margin-bottom: 30px;
}

.first-screen__description {
  margin-bottom: 30px;
}

.free-consultation {
  border-radius: 2px;
  background-color: #fe533d;
  border: none;
  padding: 20px 40px;
  color: #fff;
  font-size: 18px;
}

.competion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon2 {
  background: #151c32 url(/img/top_icon2.png) no-repeat !important;
  width: 250px !important;
  background-position: center !important;
}

.competion-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 39px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 39px 1px rgba(0, 0, 0, 0.1);
}

.competion-about__icon {
  width: 250px;
  background: #151c32 url(/img/top_icon1.png) no-repeat;
  background-position: center;
}

.competion-about__text1 {
  color: #444444;
  font-size: 15px;
}

.competion-about__text2 {
  color: #151c32;
  font-size: 24px;
  font-weight: bold;
}

.competion-about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.competion-exp {
  -webkit-box-shadow: 0 0 39px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 39px 1px rgba(0, 0, 0, 0.2);
  background-color: #fe533d;
  padding: 54px 100px;
  color: #fff;
  width: 34%;
}

.competion-exp__text {
  font-size: 20px;
}

.competion-exp__numb {
  font-size: 30px;
}

.about {
  padding: 150px;
}

.about__container {
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__text {
  font-size: 20px;
  max-width: 500px;
}

.about__text2 {
  font-size: 24px;
  font-weight: bold;
  color: #151c32;
  border-top: 5px solid #151c32;
  border-bottom: 5px solid #151c32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.about__text2 h2 {
  margin: auto;
}

.uslugi {
  background-color: #cea05f;
  padding: 100px;
  color: #fff;
}

.uslugi__container {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 15px;
  margin-bottom: 35px;
}

.uslugi__h2 {
  text-align: center;
  margin-bottom: 25px;
}

.uslugi__desc {
  max-width: 1100px;
  margin: 0 auto;
  font-size: 20px;
}

.usluga {
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.usluga:hover {
  background-color: #151c32;
  cursor: pointer;
}

.usluga p {
  font-size: 20px;
  font-weight: bold;
  margin: auto;
}

.price {
  padding: 100px;
}

.price__container {
  max-width: 1100px;
  margin: 0 auto;
}

.price__h2 {
  margin-bottom: 25px;
  text-align: center;
}

.price__line {
  width: 60px;
  height: 2px;
  background-color: #fe533d;
  margin: 0 auto;
  margin-bottom: 50px;
}

.price-blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 20px;
}

.price-item {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #eee;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.price-item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.price-item:nth-of-type(3n+2) {
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}

.price-item__price {
  margin-bottom: 25px;
  color: #151c32;
  font-size: 18px;
  font-weight: bold;
}

.price-item__price:hover {
  color: #fe533d;
}

.price-item__description {
  font-size: 16px;
  font-weight: bold;
}

.call {
  padding: 20px;
}

.call__container {
  background-color: #cea05f;
  padding: 100px;
  text-align: center;
  font-size: 35px;
  color: #fff;
}

.call__phone {
  font-weight: bold;
}

.about-us {
  background-color: #151c32;
  padding: 100px;
  color: #fff;
}

.about-us__container {
  max-width: 1000px;
  margin: 0 auto;
}

.about-us__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us__h2 {
  color: #cea05f;
  text-align: center;
  margin-bottom: 50px;
}

.about-us__img {
  max-width: 300px;
}

.about-us__list {
  padding-top: 15px;
  padding-right: 25px;
}

.about-us__item {
  position: relative;
  padding-left: 15px;
  margin-bottom: 15px;
}

.about-us__item::before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 25px;
  background: url(/img/list_icon.png) no-repeat;
  background-position: center;
  top: 0;
  left: 0;
}

.page-footer {
  background-color: #151821;
  padding: 50px 0;
}

.page-footer__container {
  max-width: 900px;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call-now {
  background-color: #fe533d;
  padding: 75px;
}

.call-now__container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call-now__text {
  color: #fff;
  font-size: 25px;
}

.call-now__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.call-now__form input {
  background: rgba(0, 0, 0, 0.15);
  border: none;
  padding: 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  color: #fff;
}

.call-now__form input::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-style: italic;
}

.call-now__form input:-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-style: italic;
}

.call-now__form input::-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-style: italic;
}

.call-now__form input::placeholder {
  color: #fff;
  font-size: 18px;
  font-style: italic;
}

.call-now__form button {
  background-color: #151c32;
  color: #fff;
  font-size: 25px;
  border: none;
  padding: 23px 39px;
}

.contacts {
  padding: 100px;
}

.contacts__container {
  max-width: 1000px;
  margin: 0 auto;
}

.contacts__h2 {
  margin-bottom: 25px;
  text-align: center;
}

.block-adres p {
  margin-bottom: 35px;
  font-size: 20px;
}

.block-map p {
  margin-bottom: 50px;
  font-size: 30px;
}

.contact-form {
  background-color: #cea05f;
  padding: 100px;
  color: #fff;
}

.contact-form__h2 {
  text-align: center;
  margin-bottom: 25px;
}

.svyaz {
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.svyaz__h2 {
  text-align: center;
}

.svyaz__text {
  font-size: 20px;
  margin-bottom: 30px;
}

.svyaz button {
  background-color: #fe533d;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 19px 33px;
}

.svyaz input {
  display: block;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  padding: 22px;
  width: 49%;
  margin-bottom: 30px;
}

.svyaz input::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
}

.svyaz input:-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
}

.svyaz input::-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
}

.svyaz input::placeholder {
  color: #fff;
  font-size: 18px;
}

.svyaz__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.svyaz__textarea {
  display: block;
  border: none;
  background: rgba(255, 255, 255, 0.15);
  padding: 22px;
  margin-bottom: 30px;
}

.svyaz__textarea::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
}

.svyaz__textarea:-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
}

.svyaz__textarea::-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
}

.svyaz__textarea::placeholder {
  color: #fff;
  font-size: 18px;
}

.otzivi {
  padding: 100px;
}

.otzivi__container {
  max-width: 1000px;
  margin: 0 auto;
}

.otzivi__h2 {
  text-align: center;
  margin-bottom: 20px;
}

.otzivi__text {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  font-style: italic;
}

.otzivi__name {
  text-align: center;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */